.component-grid {
    display: grid;
    width: 400px;
    height: 300px;
    grid-template-columns: repeat(5, fit-content(68px));
    grid-template-rows: repeat(7, 68px);
    grid-gap: 10px;
}

.icon-grid {
    display: grid;
    width: 400px;
    height: 300px;
    grid-template-columns: repeat(8, fit-content(68px));
    grid-template-rows: repeat(1, fit-content(68px));
    grid-gap: 10px;
}

.css-icon {
    --icon-size: 100%;
    background-color: currentcolor;
    display: inline-block;
    height: var(--icon-size);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    width: var(--icon-size);
}

.css-icon.css-icon--size-xs {
    --icon-size: 1.5rem;
}

.css-icon.css-icon--size-s {
    --icon-size: 2rem;
}

.css-icon.css-icon--size-m {
    --icon-size: 3rem;
}

.css-icon.css-icon--size-l {
    --icon-size: 4rem;
}

.css-icon.css-icon--size-xl {
    --icon-size: 6rem;
}
